body {
    background-color: hotpink;
}

#secondparagraph {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 18;
}

.sampletext {
    border:15 solid lavenderblush;
    border-style: inset;
    margin-top: 35px;
    margin-right: 99px;
    margin-bottom: 3px;
    margin-left: 180;
    padding:50px 50px 50px 50px;
    width: 65%;
    background-color: lightgreen;
}